body {
  touch-action: none;
}

.instructions {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 2rem;
  color: #444;
  font-size: 1.6rem;
}

.touch {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  text-align: center;
  line-height: 6vmin;
  top: -3vmin;
  left: -3vmin;
  background: #205c6a;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  touch-action: none;
}
.touch > div {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: 3vmin;
  top: 3vmin;
  text-align: left;
  line-height: 1.5;
  color: #000;
}
