<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Periodic Table Sandbox - Build from template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../shared/css/vendor/normalize.css">
  <link rel="stylesheet" href="../shared/css/base.css">
  <link rel="stylesheet" href="css/app.css">

</head>

<body>
  <div id="canvas" class="canvas"></div>
  <div id="toolbar" class="toolbar"></div>

  <div class="status">
    <div><strong>Current:</strong> <span id="status-current"></span></div>
    <div><strong>Target:</strong> <span id="status-target"></span></div>
    <div id="status-charge" class="status-charge"></div>
  </div>

  <div id="success" class="success">
    <img src="img/beryl.svg" class="b b1" />
    <img src="img/beryl.svg" class="b bb b2" />
    <img src="img/beryl.svg" class="b bb b3" />
    <img src="img/beryl.svg" class="b bb b4" />
    <img src="img/beryl.svg" class="b bb b5" />
    <img src="img/beryl.svg" class="b bb b6" />
    <img src="img/beryl.svg" class="b bb b7" />
  </div>

  <div id="success-mineral" class="success-mineral">
    <img src="img/beryl.png" />
    <h2>Beryl!</h2>
  </div>

  <div id="templates" class="templates">
    <!-- Oxygen -->
    <div id="O" class="template">
      <div class="atom non-metal O">
        <div class="nucleus">O</div>
        <div class="shell visible-on-select">
          <div class="electrons valence">
            <div class="e tl"></div><div class="e tr"></div>
            <div class="e lt"></div><div class="e lb"></div>
            <div class="e bm"></div>
            <div class="e rt gain share"></div>
            <div class="e rb lose share"></div>
          </div>
        </div>
        <div class="inner-shells visible-on-select">
          <div class="shell">
            <div class="electrons">
              <div class="e tm"></div><div class="e bm"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Silicon -->
    <div id="Si" class="template">
      <div class="atom semi-metal Si">
        <div class="nucleus">Si</div>
        <div class="shell visible-on-select">
          <div class="electrons valence">
            <div class="e tm"></div><div class="e bm"></div>
            <div class="e lt lose share"></div>
            <div class="e lb gain share"></div>
            <div class="e rt gain share"></div>
            <div class="e rb lose share"></div>
          </div>
        </div>
        <div class="inner-shells visible-on-select">
          <div class="shell">
            <div class="electrons">
              <div class="e tm"></div><div class="e bm"></div>
            </div>
          </div>
          <div class="shell">
            <div class="electrons">
              <div class="e tl"></div><div class="e tr"></div>
              <div class="e bl"></div><div class="e br"></div>
              <div class="e lt"></div><div class="e lb"></div>
              <div class="e rt"></div><div class="e rb"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Aluminum ion -->
    <div id="Al" class="template">
      <div class="atom metal Al">
        <div class="charge invisible-on-select"><span>3+</span></div>
        <div class="nucleus">Al</div>
        <div class="shell visible-on-select">
          <div class="electrons valence">
            <div class="e tm"></div>
            <div class="e lb"></div><div class="e rb"></div>
          </div>
        </div>
        <div class="inner-shells visible-on-select">
          <div class="shell">
            <div class="electrons">
              <div class="e tm"></div><div class="e bm"></div>
            </div>
          </div>
          <div class="shell">
            <div class="electrons">
              <div class="e tl"></div><div class="e tr"></div>
              <div class="e bl"></div><div class="e br"></div>
              <div class="e lt"></div><div class="e lb"></div>
              <div class="e rt"></div><div class="e rb"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Beryllium ion -->
    <div id="Be" class="template">
      <div class="atom metal Be">
        <div class="charge invisible-on-select"><span>2+</span></div>
        <div class="nucleus">Be</div>
        <div class="shell visible-on-select">
          <div class="electrons valence">
            <div class="e lm"></div>
            <div class="e rm"></div>
          </div>
        </div>
        <div class="inner-shells visible-on-select">
          <div class="shell">
            <div class="electrons">
              <div class="e tm"></div><div class="e bm"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- SiO -->
    <div id="SiO" class="template">
      <div class="molecule SiO tetra">
        <div class="atoms">
          <div class="atom non-metal O tetra-top ghost">
            <div class="nucleus">O</div>
            <div class="bond"></div>
          </div>
          <div class="atom semi-metal Si tetra-center">
            <div class="nucleus">Si</div>
          </div>
          <div class="atom non-metal O tetra-left">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-right ghost">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-bottom ghost">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
        </div>
        <div class="formula">
          <div><strong>Current:</strong> <span>Si</span><span>O</span></div>
          <div><strong>Target:</strong> <span>Si</span><span>O</span><span class="active"><sub>4</sub></span></div>
        </div>
      </div>
    </div>

    <!-- SiO2 -->
    <div id="SiO2" class="template">
      <div class="molecule SiO2 tetra">
        <div class="atoms">
          <div class="atom non-metal O tetra-top ghost">
            <div class="nucleus">O</div>
            <div class="bond"></div>
          </div>
          <div class="atom semi-metal Si tetra-center">
            <div class="nucleus">Si</div>
          </div>
          <div class="atom non-metal O tetra-left">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-right">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-bottom ghost">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
        </div>
        <div class="formula">
          <div><strong>Current:</strong> <span>Si</span><span>O</span><span><sub>2</sub></span></div>
          <div><strong>Target:</strong> <span>Si</span><span>O</span><span class="active"><sub>4</sub></span></div>
        </div>
      </div>
    </div>

    <!-- SiO3 -->
    <div id="SiO3" class="template">
      <div class="molecule SiO3 tetra">
        <div class="atoms">
          <div class="atom non-metal O tetra-top">
            <div class="nucleus">O</div>
            <div class="bond"></div>
          </div>
          <div class="atom semi-metal Si tetra-center">
            <div class="nucleus">Si</div>
          </div>
          <div class="atom non-metal O tetra-left">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-right">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-bottom ghost">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
        </div>
        <div class="formula">
          <div><strong>Current:</strong> <span>Si</span><span>O</span><span><sub>3</sub></span></div>
          <div><strong>Target:</strong> <span>Si</span><span>O</span><span class="active"><sub>4</sub></span></div>
        </div>
      </div>
    </div>

    <!-- SiO4 -->
    <div id="SiO4" class="template">
      <div class="molecule SiO4 tetra">
        <div class="atoms">
          <div class="atom non-metal O tetra-top">
            <div class="nucleus">O</div>
            <div class="bond"></div>
          </div>
          <div class="atom semi-metal Si tetra-center">
            <div class="nucleus">Si</div>
          </div>
          <div class="atom non-metal O tetra-left">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-right">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
          <div class="atom non-metal O tetra-bottom">
            <div class="bond"></div>
            <div class="nucleus">O</div>
          </div>
        </div>
        <div class="tetrahedron">
          <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
            <title>tetrahedron</title>
            <g>
              <polygon class="pulse-bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
              <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
              <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
              <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
            </g>
          </svg>
          <div class="tetrahedron-charge">4-</div>
        </div>

        <div class="formula">
          <div><span>Si</span><span>O</span><span><sub>4</sub></span></div>
          <div>(silica tetrahedron)</div>
        </div>
      </div>
    </div>

    <!-- target tetrahedrons -->
    <div id="t1-target" class="template">
      <div class="t1 droppable t">
        <div class="animatable">
          <div class="transformable">
            <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
              <title>tetrahedron</title>
              <g>
                <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
                <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
                <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="t2-target" class="template">
      <div class="t2 droppable t">
        <div class="animatable">
          <div class="transformable">
            <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
              <title>tetrahedron</title>
              <g>
                <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
                <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
                <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="t3-target" class="template">
      <div class="t3 droppable t">
        <div class="animatable">
          <div class="transformable">
            <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
              <title>tetrahedron</title>
              <g>
                <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
                <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
                <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="t4-target" class="template">
      <div class="t4 droppable t">
        <div class="animatable">
          <div class="transformable">
            <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
              <title>tetrahedron</title>
              <g>
                <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
                <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
                <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="t5-target" class="template">
      <div class="t5 droppable t">
        <div class="animatable">
          <div class="transformable">
            <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
              <title>tetrahedron</title>
              <g>
                <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
                <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
                <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="t6-target" class="template">
      <div class="t6 droppable t">
        <div class="animatable">
          <div class="transformable">
            <svg class="tetrahedron-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6">
              <title>tetrahedron</title>
              <g>
                <polygon class="bg" points="50.09 13.24 11.45 80.16 88.72 80.16 50.09 13.24"/>
                <polygon class="bottom" points="11.38 80.34 50.03 57.44 88.68 80.34 11.38 80.34"/>
                <polygon class="right" points="50.21 13.24 50.21 57.62 88.86 80.52 50.21 13.24"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- target metal ions -->
    <div id="m1-target" class="template">
      <div class="m m1 droppable">
        <div class="animatable">
          <div class="transformable">
            <div class="atom metal Al">
              <div class="nucleus">Al</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="m2-target" class="template">
      <div class="m m2 droppable">
        <div class="animatable">
          <div class="transformable">
            <div class="atom metal Al">
              <div class="nucleus">Al</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="m3-target" class="template">
      <div class="m m3 droppable">
        <div class="animatable">
          <div class="transformable">
            <div class="atom metal Be">
              <div class="nucleus">Be</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="m4-target" class="template">
      <div class="m m4 droppable">
        <div class="animatable">
          <div class="transformable">
            <div class="atom metal Be">
              <div class="nucleus">Be</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="m5-target" class="template">
      <div class="m m5 droppable">
        <div class="animatable">
          <div class="transformable">
            <div class="atom metal Be">
              <div class="nucleus">Be</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../shared/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="../shared/js/vendor/underscore-min.js"></script>
  <script src="../shared/js/vendor/hammer.min.js"></script>
  <script src="../shared/js/vendor/phaser.min.js"></script>
  <script src="../shared/js/vendor/howler.min.js"></script>
  <script src="../shared/js/sound.js"></script>

  <script src="js/body.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
